Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [12]:
#STRING
a = "Hello world!"

type(a)

str

In [13]:
#list
a =  [1, 2, 3, 4, 5]
type (a)

list

In [14]:
#float
a = 3.124
type(a)

float

In [20]:
#tuple
a  =(1 , 2 , 3)
type(a)

tuple

Q2. Given are some following variables containing data:(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [21]:
#var1
var1 = ''
type(var1)

str

In [30]:
#var2
var2 = ['DS' , 'ML' , 'Python']
type(var2)

list

In [32]:
#var3
var3 = ['DS' , 'ML' , 'Python' ] 
type(var3)

list

In [33]:
#var4
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [56]:
#(i)
a = 10
b = 3
result = a / b

In [55]:
#(ii)
a = 10
b = 3
result = a % b

In [38]:
#(iii)
a = 10
b = 3
result = a // b

In [39]:
#(iv)
a = 2
b = 3
result = a ** b

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [41]:
my_list = [1, 'Hello', 3.14, True, [1, 2, 3], {'name': 'John', 'age': 25}, (4, 5, 6), None, False, 'World']

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [45]:
A = 42  # The number to be divided
B = 7   # The divisor

count = 0   # Variable to count the number of divisions

while A % B == 0:
    A /= B
    count += 1

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
my_list = [2, 5, 9, 12, 18, 21, 25, 30, 33, 36, 42, 45, 50, 55, 60, 63, 66, 70, 75, 80, 85, 90, 93, 98, 100]

for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
my_dict = {'name': 'John', 'age': 25}
print(my_dict)  # Output: {'name': 'John', 'age': 25}
my_dict['age'] = 26  # Modifying the value of 'age'
print(my_dict)  # Output: {'name': 'John', 'age': 26}

In [ ]:
x = 5
print(x)  # Output: 5
x += 1  # Trying to modify the value of x
print(x)  # Output: 6