Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

# Creating a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Converting the list to a Pandas Series
series_from_list = pd.Series(my_list)
print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female
Then, print the DataFrame.

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [4]:
import pandas as pd

# Creating a Series
series_data = pd.Series([10, 20, 30, 40, 50])
print("Series:")
print(series_data)
print("\nType of series_data:", type(series_data))

# Creating a DataFrame
data = {
    'Column_1': [1, 2, 3],
    'Column_2': ['A', 'B', 'C']
}
df = pd.DataFrame(data)
print("\nDataFrame:")
print(df)
print("\nType of df:", type(df))

Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Type of series_data: <class 'pandas.core.series.Series'>

DataFrame:
   Column_1 Column_2
0         1        A
1         2        B
2         3        C

Type of df: <class 'pandas.core.frame.DataFrame'>

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [5]:
# Example using head()
print(df.head())  # Displays the first 5 rows by default

   Column_1 Column_2
0         1        A
1         2        B
2         3        C

In [6]:
# Example using describe()
print(df.describe())

       Column_1
count       3.0
mean        2.0
std         1.0
min         1.0
25%         1.5
50%         2.0
75%         2.5
max         3.0

In [7]:
# Example using info()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Column_1  3 non-null      int64
 1   Column_2  3 non-null      object
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes
None

In [15]:
# Example using loc[]
print(df.loc[0])  # Accessing the first row

# Example using iloc[]
print(df.iloc[:, 1])  # Accessing the second column

Column_1    1
Column_2    A
Name: 0, dtype: object
0    A
1    B
2    C
Name: Column_2, dtype: object

In [16]:
# Example using drop()
df_dropped = df.drop('Column_1', axis=1)

In [17]:
# Example using fillna()
df_filled = df.fillna(0)

In [18]:
# Example using groupby()
grouped_data = df.groupby('Column_2').mean()  # Calculates the mean based on 'Column_2'

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?


In Pandas, both Series and DataFrame are mutable, meaning their contents can be modified after creation.

Series: A Pandas Series is mutable. Elements within a Series can be changed, added, or removed after its creation.

DataFrame: Similarly, a Pandas DataFrame is also mutable. Columns can be added, deleted, or modified, and rows can be appended, dropped, or altered after the DataFrame is created.