Q1. How do you comment code in Python? What are the different types of comments?

In [1]:
# This is a single-line comment
print("Hello, World!")  # This line prints a greeting

Hello, World!

In [3]:
"""
This is a multi-line comment or docstring.
It can be used to provide a detailed explanation
of your code or document a specific function.
"""

'\nThis is a multi-line comment or docstring.\nIt can be used to provide a detailed explanation\nof your code or document a specific function.\n'

Q2. What are variables in Python? How do you declare and assign values to variables?

In [4]:
# Variable declaration and assignment
name = "John"
age = 25

In [5]:
name = "John"  # Variable assignment
name = "Jane"  # Reassignment of the variable

Q3. How do you convert one data type to another in Python?

In [6]:
# Explicit type conversion
num_str = "10"
num_int = int(num_str)      # Convert string to integer
num_float = float(num_str)  # Convert string to float

In [7]:
# Implicit type conversion
num_int = 10
num_float = 3.14
result = num_int + num_float  # num_int is implicitly converted to float

In [8]:
# Using specialized conversion functions
numbers = (1, 2, 3)
numbers_list = list(numbers)  # Convert tuple to list

phrase = "Hello, World!"
phrase_tuple = tuple(phrase)  # Convert string to tuple

Q4. How do you write and execute a Python script from the command line?

In [16]:
# script.py
print("Hello, World!")

Hello, World!

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [14]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)  # Output: [2, 3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [20]:
# Complex number representation
z1 = 2 + 3j     # Using the j suffix
z2 = 4 - 2j
z3 = complex(1, -1)  # Using the complex() function
# Accessing real and imaginary parts
print(z1.real)  # Output: 2.0
print(z1.imag)  # Output: 3.0

2.0
3.0

In [21]:
# Complex number arithmetic
z_sum = z1 + z2   # Addition
z_diff = z1 - z2  # Subtraction
z_product = z1 * z2  # Multiplication
z_quotient = z1 / z2  # Division

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [25]:
age = 25
type('age')

str

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [24]:
price = 9.99
type('price')

str

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [31]:
name = "Your Full Name"
name = "Pradumn kumar"
print(name)

Pradumn kumar

Q10. Given the string "Hello, World!", extract the substring "World".

In [32]:
s = "Hello, World!"
substring = s[7:12]
print(substring)

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [34]:
is_student = True
type("is_student")

str